#searchbox
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#999, #000);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: black;/* #c4d9df #a4c3ca #83afb7; */           
    width: 210px;
    height: 18px;
    padding: 10px;
    margin: 100px auto 25px;
    overflow: hidden; /* Clear floats */
}

#search, 
#submit {
    float: left;
}

#search {
    padding: 2px 9px;
    height: 10px;
    width: 140px;
    border: 1px solid #93EA96;
    font: normal 12px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 30px 30px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #99D697 #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 18px;
    margin: 0 0 0 7px;
    padding: 0;
    width: 40px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

#search::-webkit-input-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

#search:-moz-placeholder {
   color: #9c9c9c;
   font-style: italic;
}  

#search:-ms-placeholder {
   color: #9c9c9c;
   font-style: italic;
}